.guide{
	background-color:lightgray

}
.container{

}
.nav_warp_ul{
	height: 60px;
	background-color:black;
}
.nav_warp_ul li{
	float: left;
	line-height: 40px;
	margin-left: 20px;
	list-style: none;
	color: aliceblue;
}

.outer li{
	float: left;
	list-style: none;
}
.sousuo{
	float: right;
	border: 2px solid orange;
	margin: 20px;
}
.outer{
	
	width: 1500px;

}
.outer span{
	margin-left: 30px;
}
.qita{
	margin-left: 30px;
	margin: 30px;
	width: 1000px;
	background-color: ghostwhite;
}
.qita hr{
	margin-left: 30px;
}
.qita h3{
	float: left;
	margin-left: 30px;
}
.page{
	margin-left: 30px;
	height: 60px;
	width: 1000px;
	background-color: ghostwhite;
	/* 居中 */
	display: block;
	text-align: center;
}
.page-number_current{
	color: aqua;
	/* display: block;
	text-align: center; */
	
}
.page a{
	text-decoration: none;
}
.ul1{
	
}
.ul1 li{
	float: left;
}
.zuobian{
	float: left;
}
.youbian{
	float: right;
	background-color: lightgray;
	
}
.fenlei{
	
	margin-left: 30px;
	height: 150px;
	width: 400px;
	background-color: ghostwhite;
}
.guidang{
	
	margin-left: 30px;
	height: 150px;
	width: 400px;
	background-color: ghostwhite;
}
.jinqiwenzhang{
	
	margin-left: 30px;
	height: 150px;
	width: 400px;
	background-color: ghostwhite;
}
.youqinglianjie{
	margin-left: 30px;
}

.c12{
	width: 1500px;
	height: 6.25rem;
	background-color: aqua;
}
.c1{
	float: left;
}
.c2{
	float: right;
}


