 {
	margin:0;
	padding:0;
}
.box {
	width:350px;
	height:262px;
	margin:10px;
	border:4px solid #ccc;
	position:relative;
}
.big {
	width:220px;
	height:220px;
	position:absolute;
	top:0;
	left:360px;
	border:4px solid #ccc;
	overflow:hidden;
	display:none;
}
.mask {
	width:175px;
	height:175px;
	background:rgba(255,255,0,0.4);
	position:absolute;
	top:0;
	left:0;
	cursor:move;
	display:none;
}
.small {
	position:relative;
}
.box img {
	vertical-align:top;
}
#bigBox img {
	position:absolute;
}